.menu {
    width: 50vw;
    display: flex;
    /*width: 100vw;*/
    height: 4vw;
    padding-bottom: 1.5vw;
    /*background-color: red;*/
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    padding-right: 4.5vw;
    right: 0;
    top: 0;
    z-index: 200;
    /*width: 100vw;*/
    background-color: #FFFFFF;

    transition: all .5s;

    /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.menu.hide {
    top: -6.5vw;
}

.menu.small {
    width: 100vw;
    height: 3.5vw;
}

.menu a {
    margin-left: 5vw;
    cursor: none;
    transition: all .3s;

    display: flex;
    flex-direction: column;

    /*align-items: center;*/
    /*width: 4vw;*/
}

.menu a p {
    margin: 0;
}

.menu a:hover {
    cursor: pointer;
    color: #a70000;
}

.header {
    margin-top: 5vw;
    height: 25vw;
    padding-top: 10vw;
}

.info-section h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3vw;
}

.info-section h1 {
    color: #a70000;
    font-family: "Playfair Display", sans-serif;
    font-weight: 100;
    font-size: 5.7vw;
    margin-top: 2vw;
    margin-left: .2vw;
}

.header-bottom {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5.5vw;
}

.header-bottom .down-btn {
    font-weight: 400;
    font-size: 1.9vw;
    cursor: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom-width: 0;

    transition: all .3s;
}

.header-bottom .down-btn:hover {
    color: #a70000;
    cursor: pointer;
}

.header-bottom .down-btn .btn-content {
    display: flex;
    align-items: center;
}

.header-bottom .down-btn .down-arrow-container {
    margin-top: 3px;
    margin-right: 1vw;
    width: 1vw;
}

.header-bottom .down-btn p {
    margin-top: 0;
    margin-bottom: 0;

    transition: all .3s;
}

.header-bottom .down-btn .btn-highlight,
.menu a .btn-highlight {
    margin-top: .3vw;
    height: 2px;
    background-color: #a70b0b;
    width: 0;
    transition: all .3s;
}

.menu a .btn-highlight {
    margin-left: -10%;
}

.header-bottom .down-btn:hover .btn-highlight {
    width: 100%;
}

.menu a:hover .btn-highlight {
    width: 120%;
}

#home {
    display: flex;
}

/*.header{*/
/*display: flex;*/
/*flex-direction: row;*/
/*!*justify-content: space-between;*!*/

/*margin-top: 1vw;*/
/*height: 40vw;*/
/*padding-top: 5vw;*/
/*}*/

.main-photo {
    /*margin-right: 5vw;*/
    background-image: url(../graphic/me-fullpage.jpg);
    width: 43vw;
    height: 49vw;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: 47%;
    background-position-y: 20%;
}

.white-line{
    background-color: #ffffff;
    height: 49vw;
    width: .5vw;
}

.red-line{
    background-color: #a70000;
    opacity: .8;
    height: 49vw;
    width: .3vw;
}

.info-section {
    height: 49vw;
    width: 50vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-section .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 16.5vw;
    /*justify-content: center;*/
}

.container {
    /*padding: 0;*/
}

.header-bottom{

    /*border: 2px solid  #a70000;*/
    /*background-color: #a70000;*/
    margin-top: 9.5vw;
    margin-bottom: 0;
    /*align-self: flex-start;*/
    /*margin-left: 5vw;*/
    /*padding: 1vw 1.2vw;*/
}